* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  overflow: hidden;
  /* https://dev.to/matthias/units-in-css-em-rem-pt-px-vw-vh-vmin-vmax-ex-ch-53l0 */
  padding: 15vmin 10vmin;
  border-radius: 4vmin;
  color: aqua;
  font-size: 42px;
  position: relative;
  z-index: 0;
}

.container::before {
  content: "";
  width: 200%;
  height: 200%;
  background-color: #22292f;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/conic-gradient */
  background-image: conic-gradient(transparent, aqua, transparent 30%);

  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -2;

  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.container::after {
  content: "";

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/inset */
  inset: 1vmin;
  background-color: black;
  border-radius: 4vmin;

  position: absolute;
  z-index: -1;
}
