.container {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 30px;
    display: inline-block;
    
  }
  
  .item {
    width: 100px;
    height: 100px;
    color: white;
    text-align:center;
    line-height:100px;
    font-size: 20px;
  }
  
  .one {
      background: blue;
  }
  .two {
    background: red;
  }
  
  .static{
    position:static;
  }
  
  .ab {
      position: absolute;
  }
  
  .ab2 {
    position: absolute;
    top: 15px;
  }
  .pos {
    position: relative;
  }