.info{
  width: 200px;
 height: 300px;
 display: inline-block;
 font-size: 22px;
 font-weight: bold;
 text-align: center;
 margin: 30px;
 vertical-align: middle;
}

.container {
 width: 200px;
 height: 200px;
 border: 2px solid black;
 display: inline-block;
 margin-bottom: 10px;
}

.item {
 width: 100px;
 height: 100px;
 color: white;
 text-align:center;
 line-height:100px;
 font-size: 20px;
}

.one {
   background: blue;
}
.two {
 background: red;
}

.static{
 position:static;
}

.relative {
   position: relative;
}
.top{
 top: 20px;
}

.topPercentage{
 top: 50%;
}